<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="main">
    <br>
    <div *ngIf="showErrorMsg == true" class="error" style="font-weight: bold;">
        *Empty Field
    </div>
    <label for="email">Consumer Number</label><br>
    <input [(ngModel)]="email" class="form-control" name="email" type="name" />

    <br>

    <label for="password">Password</label><br>
    <input [(ngModel)]="password" class="form-control" name="password" type="password" />

    <br><br>

    <button class="btn btn-info" (click)="checkSignIn()" >
        Sign In
    </button>
</div>