<meta name="viewport" content="width=device-width, initial-scale=1.0">

<br>
<h2 style="font-weight: bolder; color: rgb(43, 167, 212);">Bill Payment</h2>

<main class="page payment-page">
    <section class="payment-form dark">
        <div class="container">
            <form>
                <div class="bill-details">
                    <span class="item-value" style="font-weight: 600;">{{bill.bill_no}}</span>
                    <h3 class="title">Bill Details</h3>
                    <div class="item">
                        <span class="item-value">{{bill.consumer_no}}</span>
                        <p class="item-name">Consumer Number</p>
                    </div>
                    <div class="item">
                        <span class="item-value">{{consumer.consumer_name}}</span>
                        <p class="item-name">Consumer Name</p>
                    </div>
                    <div class="item">
                        <span class="item-value">{{date}}</span>
                        <p class="item-name">Date Of Payment</p>
                    </div>
                    <div class="item">
                        <span class="item-value">{{bill.presentReading - bill.previousReading}}</span>
                        <p class="item-name">Total Reading</p>
                    </div>
                    <div class="total">Total Amount to Pay<span class="item-value" style="font-weight: 600;">Rs {{bill.amountToPay}}</span></div>
                </div>
                <div class="upi-details">
                    <div class="row">
                        <div class="form-group">
                            <label for="upi">UPI ID</label>
                            <input id="upi" type="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-info btn-block" (click)="createTransaction()">Pay</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</main>