<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body>

  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
    </div>
    <form class="d-flex-center">
      <div class="form-content">
        <!-- 
             CONSUMER FORM STARTS HERE
            -->
        
          <div class="consumer-form">
            <div class="title">Consumer</div>
            <div class="input-groups">
              <div class="input-box">
                <i class="fa fa-envelope"></i>
                <input type="email" class="input" name = "email" placeholder="Email" required [(ngModel)]="consumerEmail">
              </div>
            </div>

            <div class="input-groups">
              <div class="input-box">
                <i class="fa fa-lock"></i>
                <input type="password" class="input" name="pwd" placeholder="Password" required [(ngModel)]="consumerPassword">
              </div>
            </div>

            <div class="input-groups">
              <div class="button input-box">
                <button class="btn btn-info" type="submit" (click)="checkSignInConsumer()">Submit</button>
              </div>
            </div>
            <div class="form-link consumer-text">
              <label class="link consumer-link" for="flip">Admin Here</label>
            </div>
          </div>
        
        <!-- 
             ADMIN FORM STARTS HERE
            -->
        
          <div class="admin-form">
            <div class="title">Admin</div>

            <div class="input-groups">
              <div class="input-box">
                <i class="fa fa-envelope"></i>
                <input type="text" class="input" placeholder="Email" name="email" required [(ngModel)]="adminEmail">
              </div>
            </div>

            <div class="input-groups">
              <div class="input-box">
                <i class="fa fa-lock"></i>
                <input type="password" class="input" placeholder="Password" name="pwd" required [(ngModel)]="adminPassword">
              </div>
            </div>
       
            <div class="input-groups">
              <div class="button input-box">
                <button class="btn btn-info" type="submit" (click)="checkSignInAdmin()">Submit</button>
              </div>
            </div> 
            <div class="form-link admin-text">
              <label class="link consumer-link" for="flip">Consumer Here</label>
            </div>
          </div>
        
        </div>
    </form>
  </div>
</body>