<div class="load-component" *ngIf="isBillPay == true">
    <app-pay-bill [bill]="bill" [consumer]="consumer"></app-pay-bill>
</div>

<br>
<h2 style="font-weight: bolder; color: rgb(43, 167, 212);">My Bills</h2>
<br>

<div class="container">
    <table class="table table-hover table-bordered text-center">
        <thead class="text-light">
            <th>Bill Number</th>
            <th>Bill Date</th>
            <th>Current Reading</th>
            <th>Previous Reading</th>
            <th>Amount</th>
            <th>Pay</th>
        </thead>
        <tbody >
            <tr *ngFor="let bill of bills">
                <td>{{bill.bill_no}}</td>
                <td>{{bill.previousBillDate}}</td>
                <td>{{bill.presentReading}}</td>
                <td>{{bill.previousReading}}</td>
                <td>{{bill.amountToPay}}</td>
                <ng-container *ngIf="paidBills.includes(bill.bill_no) then paid; else notPaid"></ng-container>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #notPaid>
    <td><button type="button" class="btn btn-info btn-block" (click)="billPay(bill)">Pay Bill</button></td>
</ng-template>

<ng-template #paid>
    <td>Bill Paid</td>
</ng-template>