<meta name="viewport" content="width=device-width, initial-scale=1.0">

<br>
<h2 style="font-weight: bolder; color: rgb(43, 167, 212);">Transaction History</h2>
<br>

<div class="container">
<table class="table table-hover table-bordered text-center">
    <thead class="text-light">
        <th>Transaction Id</th>
        <th>Bill No</th>
        <th>Meter Reading</th>
        <th>Payment Date</th>
        <th>Amount Paid</th>
    </thead>
    <tbody>
        <tr *ngFor="let transaction of transactionHistory">
            <td>{{transaction.transaction_no}}</td>
            <td>{{transaction.billNo}}</td>
            <td>{{transaction.meterReading}}</td>
            <td>{{transaction.transactionDate}}</td>
            <td>{{transaction.amountPaid}}</td>
        </tr>
    </tbody>
</table>
</div>