<meta name="viewport" content="width=device-width, initial-scale=1.0">

<br>
<h2 style="font-weight: bolder; color: rgb(43, 167, 212);">Generate Bills</h2>
<br>

<div class="container">
    <div class="row m-3">
        <div class="col-md-12 py-3">
            <label class="labels">Consumer Number</label>
            <input type="text" class="form-control" [(ngModel)]="consumer_no">
        </div>
        <div class="col-md-12 py-1">
            <label class="labels">Current Reading</label>
            <input type="number" class="form-control" [(ngModel)]="current_reading">
        </div>
        <div class="col-md-12 py-1">
            <td><button type="button" class="btn btn-info btn-block" (click)="generateBill()">Generate</button></td>
        </div>
    </div>
    <!-- <div class="row">
        <p style="font-weight: bolder; color: rgba(2, 46, 62, 0.573);">{{status}}</p>
    </div> -->
</div>