@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    background: #f4f7f8;
    height: 91vh;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bolder;
}

thead{
    background: rgb(43, 167, 212);
}