<meta name="viewport" content="width=device-width, initial-scale=1.0">

<br>
<h2 style="font-weight: 700; color: rgb(43, 167, 212);">Add A New Consumer</h2>
<br>
<form method="post">
  <div class="container">

  <div class="firstBox">
    <label for="name">Name: *</label>
    <input type="text" name="name"  class="form-control" required>

    <label for="mobile">Contact Number: *</label>
    <input type="mobile" name="num"  class="form-control">

    <label for="mail">Email: *</label>
    <input type="email" name="email"  class="form-control" required>
  </div>

  <div class="secondBox">
    <label for="address">Address: *</label>
    <input type="text" name="address" class="form-control">

    <label for="consumer_num">Consumer Number *</label>
    <input type="text" name="consumer_num"  class="form-control">

    <label for="meter_num">Meter Number *</label>
    <input type="text" name="meter_num"  class="form-control">
    <br>
  </div>
</div>
    <button class="btn btn-info">Create New Customer</button>
  
</form>