<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="top">
    <div class="user fa fa-user fa-xl" (click)="displayUserProfile()"></div>
    <div><button class="logout btn fa fa-sign-out" (click)="logout()"></button></div>
</div>


<div class="main-component">
    <div class="side-nav">
        <br><br>
        <div class="tab fa fa-users" (click)="addNewConsumer()">&nbsp; Add Consumer</div><br>
        <div class="tab fa fa-file-text-o" (click)="generateBill()">&nbsp; Generate Bills</div><br>
    </div>

    <div class="load-component" *ngIf="isBillGen == false && isUserProfile == false && isAddNewConsumer == false">
        <app-admin-main-dashboard></app-admin-main-dashboard>
    </div>

    <div class="load-component" *ngIf="isBillGen == true">
        <app-generate-bill></app-generate-bill>
    </div>

    <div class="load-component" *ngIf="isAddNewConsumer == true">
        <app-create-new-user></app-create-new-user>
    </div>

    <div class="load-component" *ngIf="isUserProfile == true">
        <app-user-profile></app-user-profile>
    </div>

</div>