<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="top">
    <div class="user" (click)="displayUserProfile()">ABC XYZ &nbsp;<span class="fa fa-user fa-xl"></span></div>
</div>


<div class="main-component">
    <div class="side-nav">
        <br><br>
        <div class="tab fa fa-file-text-o" (click)="setBills()">&nbsp; Bills</div><br>
        <div class="tab fa fa-inr" (click)="billPay()">&nbsp; Bill Payment</div><br>
        <div class="tab fa fa-history" (click)="transactionHistory()"> Transaction History</div>
        <div class="bottom">
            <br><br>
            <div class="tab fa fa-question" (click)="displayFaq()"> FAQ</div><br>
            <div class="tab fa fa-floppy-o" (click)="displayEnergy()"> Energy Saving Tips</div>
        </div>
    </div>

    <div class="load-component" *ngIf="isBillPay == false && isBills == false && isTransactionHistory == false && isUserProfile == false && isFaq == false && isEnergy == false">
        My Dashboard
    </div>

    <div class="load-component" *ngIf="isBillPay == true">
        <app-pay-bill></app-pay-bill>
    </div>

    <div class="load-component" *ngIf="isBills == true">
        <app-bills></app-bills>
    </div>

    <div class="load-component" *ngIf="isTransactionHistory == true">
        <app-transaction-history></app-transaction-history>
    </div>

    <div class="load-component" *ngIf="isUserProfile == true">
        <app-user-profile></app-user-profile>
    </div>

    <div class="load-component" *ngIf="isFaq == true">
        <app-faq></app-faq>
    </div>

    <div class="load-component" *ngIf="isEnergy == true">
        <app-energy-saving-tips></app-energy-saving-tips>
    </div>
</div>