<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="top">
    <div class="user fa fa-user fa-xl" (click)="displayUserProfile()"></div>
    <div><button class="logout btn fa fa-sign-out" (click)="logout()"></button></div>
</div>


<div class="main-component">
    <div class="side-nav">
        <br><br>
        <div class="tab fa fa-columns" (click)="dashboard()">&nbsp; Dashboard</div><br>
        <div class="tab fa fa-file-text-o" (click)="setBills()">&nbsp; Bills</div><br>
        <div class="tab fa fa-history" (click)="transactionHistory()"> Transaction History</div>
        <div class="bottom">
            <br><br>
            <div class="tab fa fa-question" (click)="displayFaq()"> FAQ</div><br>
            <div class="tab fa fa-floppy-o" (click)="displayEnergy()"> Energy Saving Tips</div>
        </div>
    </div>

    <div class="load-component" *ngIf="isBills == false && isTransactionHistory == false && isUserProfile == false && isFaq == false && isEnergy == false">
        <app-consumer-main-dashboard></app-consumer-main-dashboard>
    </div>

    <div class="load-component" *ngIf="isUserProfile == true">
        <app-user-profile [consumer]="consumer"></app-user-profile>
    </div>

    <div class="load-component" *ngIf="isBills == true">
        <app-bills [consumer]="consumer"></app-bills>
    </div>

    <div class="load-component" *ngIf="isTransactionHistory == true">
        <app-transaction-history [consumer]="consumer"></app-transaction-history>
    </div>

    <div class="load-component" *ngIf="isFaq == true">
        <app-faq></app-faq>
    </div>

    <div class="load-component" *ngIf="isEnergy == true">
        <app-energy-saving-tips></app-energy-saving-tips>
    </div>
</div>