<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://t4.ftcdn.net/jpg/02/79/66/93/360_F_279669366_Lk12QalYQKMczLEa4ySjhaLtx1M2u7e6.jpg">
                </div>
        </div>
        <div class="col-md-4 connection">
            <div class="py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <h4 style="font-weight: bolder; color: rgb(43, 167, 212);">My Dashboard</h4>
                </div>
                <div class="col-md-12"><label class="labels">Name</label></div> My Name<br><br>
                <div class="col-md-12"><label class="labels">Email ID</label></div> My Email<br><br>
                <div class="col-md-12"><label class="labels">Designation</label></div>designation
            </div>
        </div>
    </div>
</div>