<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="container">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    src="https://t4.ftcdn.net/jpg/02/79/66/93/360_F_279669366_Lk12QalYQKMczLEa4ySjhaLtx1M2u7e6.jpg"><span
                    class="font-weight-bold">Consumer Name</span><span class="text-black-50">Email ID</span><span>
                </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right" style="font-weight: bolder; color: rgb(43, 167, 212);">My Details</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12 py-1"><label class="labels">Mobile Number</label><input type="text"
                            class="form-control" value=""></div>
                    <div class="col-md-12 py-1"><label class="labels">Current Password</label><input type="password"
                            class="form-control" value=""></div>
                    <div class="col-md-12 py-1"><label class="labels">New Password</label><input type="password"
                            class="form-control" value=""></div>
                    <div class="col-md-12 py-1"><label class="labels">Re-enter New Password</label><input
                            type="password" class="form-control" value=""></div>
                </div>
                <div class="mt-3 text-center py-3"><button class="btn text-light profile-button" type="button">Update
                    </button></div>
            </div>
        </div>
    </div>
</div>