<meta name="viewport" content="width=device-width, initial-scale=1.0">

<br>
<h2 style="font-weight: bolder; color: rgb(43, 167, 212);">9 Ways to Conserve Energy and Save on your Electric Bill</h2>
<br>


<div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card" style="width: 18rem;">
          <img
            src="https://images.unsplash.com/photo-1520532622976-1bdf3b7a5af9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjN8fGJ1bGJzfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=600&q=60"
            class="card-img-top" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Switch to Energy Effiecient Appliaces</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img
            src="https://images.unsplash.com/photo-1610056494052-6a4f83a8368c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8dW5wbHVnJTIwc3dpdGNofGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=600&q=60"
            class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Unplug Devices when not in use</p>
            </div>
        </div>

        <div class="card  " style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1590327813360-fdbca9ec1cc6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fHN3aXRjaCUyMG9mZnxlbnwwfDF8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-top" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Turn off lights when leaving a room</p>
          </div>
        </div>
      </div>
    </div>


    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex   justify-content-around">
        <div class="card" style="width: 18rem;">
          <img src="https://plus.unsplash.com/premium_photo-1679815130906-86ca0af700a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8c29sYXIlMjBwb3dlcmVkJTIwZGV2aWNlc3xlbnwwfDF8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-top" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Use solar powered Devices</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1530240293214-d1b236d65b5b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzd8fGRyeWluZyUyMGNsb3RoZXMlMjBhbmQlMjBkaXNoZXN8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Dry your clothes naturally</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1583940765198-2dcbfc0622fb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8ODF8fGNlaWxpbmclMjBmYW5zfGVufDB8MXwwfHw%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top " class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Install ceiling fans for cooler air without cooling</p>
          </div>
        </div>
      </div>
    </div>


    <div class="carousel-item">
      <div class="card-wrapper container-sm d-flex  justify-content-around">
        <div class="card " style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1570427224050-b080ad19e3c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y3VydGFpbnxlbnwwfDF8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Insulate your home by some heavy curtains</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://cdn.firstcry.com/education/2022/06/24161821/1715564146.jpg" class="card-img-top" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Change your daily habits (Cheapest but hardest)</p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="https://images.unsplash.com/photo-1607184439388-53a8e35e2594?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXAlMjB0byUyMGRhdGV8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Stay up to date on maintenance to save energy</p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>